main {
  padding-top: 130px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #252525;
}

main .row {
  margin-bottom: 20px;
}

.card {
  display:block;
  border: 1px solid #E5E5E5;
  margin-bottom: 20px;
}

header {
	background-color: #eebb44;
	position:fixed;
	width: 100%;
	top: 0px;
}

.card_pic {
	width: 100%;
}

.card_text {
	padding-left: 10px;
	padding-right:10px;
}
