main {
  padding-top: 100px;
}

main .row {
  margin-bottom: 20px;
}

.card {
  display:block;
  border: 1px solid #E5E5E5;
  margin-bottom: 20px;
}

header {
	background-color: #eebb44;
	position:fixed;
	width: 100%;
}
.card_pic {
	width: 100%;
}

.card_text {
	padding-left: 10px;
	padding-right:10px;
}
